language: ruby

rvm:
  - 2.6.0
  - 2.5.3
  - 2.4.5
  - 2.3.8

before_script:
- curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
- chmod +x ./cc-test-reporter
- "./cc-test-reporter before-build"

script:
  - bundle exec rspec

after_script:
  - "./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT"
